<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:jdbc="http://www.springframework.org/schema/jdbc"
xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    
     <!-- 配置视图解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <!-- 使用前缀和后缀 -->
         <property name="prefix" value="/"></property>
         <property name="suffix" value=".jsp"></property>
     </bean>
     
     <!-- 使用组件扫描的方式可以一次扫描多个Controller -->
     <context:component-scan base-package="com.etoak"></context:component-scan>

 
	<!-- mvc命名空间提供的注解驱动 用于解析@ResponseBody注解-->
	<mvc:annotation-driven/>
    

    <!-- 访问静态资源文件 -->
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/css/**" location="/css/" />  
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/imgdata/**" location="/imgdata/" />


<!-- 第一种 quartz -->
    <!-- 任务调度处理类工厂 -->
     <bean id="jobDetail2" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
         <property name="jobClass" value="com.etoak.quartz.springmvcQuartz.QuartzTimer"></property>

         <!--不加这句会报错，不知道为什么-->
         <property name="durability" value="true" />
     </bean>
    <!-- 表达式触发器工厂 -->
     <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
         <property name="jobDetail" ref="jobDetail2"></property>
         <property name="cronExpression" value="0/2 * * * * ?"></property>
     </bean>
    <!-- 任务调度计划工厂 -->
     <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" autowire="no">
         <property name="triggers">
             <list>
                 <ref bean="cronTrigger"/>
             </list>
         </property>
     </bean>


    <!-- 第二种quartz     要调度的对象-->
         <!--<bean id="jobBean" class="com.etoak.quartz.springmvcQuartz.QuartzTimer2" />-->
         <!--<bean id="jobDetail3" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
             <!--<property name="targetObject" ref="jobBean" />-->
             <!--<property name="targetMethod" value="execute" />-->
    <!--&lt;!&ndash;将并发设置为false&ndash;&gt;-->
             <!--<property name="concurrent" value="false" />-->
         <!--</bean>-->

         <!--<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
             <!--<property name="jobDetail" ref="jobDetail3" />-->
    <!--&lt;!&ndash;表达式，我的是每 5s 执行一次&ndash;&gt;-->
             <!--<property name="cronExpression" value="0/6 * * * * ?" />-->
         <!--</bean>-->
    <!--&lt;!&ndash;  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序   &ndash;&gt;-->
         <!--<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" autowire="no">-->
             <!--<property name="triggers">-->
                 <!--<list>-->
    <!--&lt;!&ndash;作业调度器,list下可加入其他的调度器&ndash;&gt;-->
                     <!--<ref bean="trigger" />-->
                 <!--</list>-->
             <!--</property>-->
         <!--</bean>-->


 </beans>